* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* colour styles */
    --Very-Light-Grayish-Blue: #F6F6FE;
    --Light-Grayish-Blue: #B3B5C6;
    --Dark-Blue: #6D768D;
    --Dark-Grayish-Blue: #494C5F;
    --Linear-Gradient: linear-gradient(87.51deg, #9BA0F0 2.29%, #6A70DE 61.6%);
    --Light-Purple: #A3A8F0;
    --Solid-Gradient: #6A70DE;
    /* Font */
    --h1-font: normal 700 40px/50px 'Montserrat', sans-serif;
    --h2-font: normal 700 20px/25px 'Montserrat', sans-serif;
    --p-font: normal 700 15px/18px 'Montserrat', sans-serif;
    --btn-font: normal 700 15px/18px 'Montserrat', sans-serif;
    /* card shadow */
    --card-shadow: 0px 5px 35px -12px rgba(163, 168, 240, 0.75);
}

html {
    position: relative;
}

body {
    background: url(images/bg-bottom-2.svg) bottom left, url(images/bg-top.svg) top right;
    background-color: var(--Very-Light-Grayish-Blue);
    background-repeat: no-repeat;
    /* height: 100vh; */
}   

/* Font formatting */
h1 {
    font: var(--h1-font);
    margin-top: 40px;
}

h2 {
    font: var(--h2-font);
}

p {
    font: var(--p-font);
}

.learnMoreBt {
    font: var(--btn-font);
}

/* Font colors */
.priceSwitchContainer p {
    color: var(--Light-Grayish-Blue);
}

.title {
    color: var(--Dark-Grayish-Blue);
}

.card {
    color: var(--Dark-Grayish-Blue);
}

.priceSwitchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 31px;
}

.toggle {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
}

.toggleInput {
    /* hide this to show checkbox */
    display: none;
}

.toggleBG {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background: var(--Linear-Gradient);
}

.toggleBG:hover {
    opacity: 90%;
}

/* white toggle button */
.toggleBG::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    transition: transform 0.3s;
}

/* Monthly/Checked button state */
.toggleInput:checked ~ .toggleBG::after {
    transform: translateX(-50px);
}



/* Card layout formatting */
.basicPlan,
.masterPlan {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 7px;
    box-shadow: var(--card-shadow);
}

.professionalPlan {
    color: white;
    background: var(--Linear-Gradient);
    width: 350px;
    height: 500px;
    border-radius: 7px;
    box-shadow: var(--card-shadow);
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 31px;
}

.professionalPlan .cardContent {
    padding: 63px 31px;
}

/* last line  must be 40px to the button */
.underline {
    width: 288px;
    height: 0px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--Light-Grayish-Blue);
}

.professionalPlan .underline {
    border-color: white;
}

/* button formatting */
.learnMoreBtn {
    text-transform: uppercase;
    text-decoration: none;
    background: var(--Linear-Gradient);
    font: var(--btn-font);
    letter-spacing: 0.13em;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: white;
    width: 288px;
    height: 42px;
    cursor: pointer;
}

.professionalPlan .learnMoreBtn {
    background: white;
    color: var(--Solid-Gradient);
}

a {
    padding-top: 20px;
}

/* aligning cards */

.cardContainer {
    display: flex;
    align-items: center;

}

.pageContentContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding-top: 50px;
}