* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colour styles */
    --Very-Light-Grayish-Blue: #F6F6FE;
    --Light-Grayish-Blue:#B3B5C6;
    --Dark-Blue: #6D768D;
    --Dark-Grayish-Blue: #494C5F;
    --Liear-Gradient: gradient(87.51deg, #9BA0F0 2.29%, #6A70DE 61.6%);
    --Light-Purple: #A3A8F0;
    --Solid-Gradient: #6A70DE;
    /* Font */
    --h1-font: normal 700 40px/50px 'Montserrat', serif;
    --h2-font: normal 700 20px/25px 'Montserrat', serif;
    --p-font: normal 700 15px/18px 'Montserrat', serif;
    --btn-font: normal 700 15px/18px 'Montserrat', serif;
    /* card shadow */
    --card-shadow: 0px 5px 35px -12px rgba(163, 168, 240, 0.75);
}