* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {
  /* colours */
  --Blue: hsla(216, 78%, 47%, 1);
  --Dark-Blue: hsla(206, 56%, 22%, 1);
  --Social-media-grey: hsla(207, 19%, 44%, 1);
  --grey-text: hsla(207, 19%, 44%, 1);
  --icon-light-blue: hsla(215, 72%, 82%, 1);
  --icon-bg-blue: hsla(213, 65%, 97%, 1);
  --page-bg-blue: hsla(214, 100%, 99%, 1);
  --gold: hsla(36, 78%, 63%, 1);
  --green: hsla(155, 54%, 46%, 1);
  /* TEXT */
  --h1-font: normal 700 40px/50px "Playfair Display", sans-serif;
  --h2-font: normal 600 24px/30px "Playfair Display", sans-serif;
  --h3-font: normal 600 16px/21px "Playfair Display", sans-serif;
  --h4-font: normal 600 14px/21px "Playfair Display", sans-serif;
  --big-p-font: normal 400 20px/35px "Open Sans", sans-serif;
  /*nav text and title + body sections*/
  --mid-p-font: normal 400 16px/18px "Open Sans", sans-serif;
  /* green-heading-font */
  --small-p-font: normal 400 14px/19px "Open Sans", sans-serif;
  --nav-font: normal 700 16px/21px "Open Sans", sans-serif;
  --btn-font: normal 700 16px/20px "Open Sans", sans-serif;
  --nav-bar-shadow: 0px 2px 12px rgba(0, 0, 0, 0.10);
}

body {
  font: var(--big-p-font);
  color: var(--grey-text);
  /* padding: 15px 100px 70px 100px; */

}

/* FONT FORMATTING */
h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

h3 {
  font: var(--h3-font);
}

h4 {
  font: var(--h4-font);
}

h1,
h2,
h3,
h4 {
  color: var(--Dark-Blue);
}

.bold-text {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0px 20px; */
  padding: 25px 0px;
  box-shadow: var(--nav-bar-shadow);
  position: fixed;
  width: 100vw;
  background-color: white;
}

/* TO DO: remember to add hover states for nav buttons */
/* TO DO: Use buttons */
nav a {
  text-decoration: none;
  color: var(--Dark-Blue);
  margin: 10px 16px;
  font: var(--nav-font);
}

nav a:hover {
  text-decoration: none;
  opacity: 60%; 
  font: var(--nav-font);
}

#get-it-now-btn button {
  font: var(--nav-font);
  background: var(--Blue);
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: white;
}

/* TO DO: remember to change border colour to blue when hovered over */
#get-it-now-btn button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--Blue);
  border-radius: 30px; 
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

#hero-section {
  /* TO DO: REMOVE THE BG IMAGE AND ADD BLUE CIRCLE IMAGE INDIVIDUALLY */
  /* TO DO: Add bottom concave image for the background */
  /* background-image: url(Assets/hero-bg.svg); */
  background-repeat: no-repeat;
  /* height: auto; */
  /* background-color: var(--page-bg-blue); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-hero-col {
  width: 493px;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#hero-title-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#app-badges {
  display: flex;
  gap: 18px;
}

#scroll-to-features-btn {
  display: flex;
  font: var(--small-p-font);
  gap: 8px;
}

#iPhone-hero-mockup {
  width: 585.5px;
  height: 813.5px;
}