* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {
  /* colours */
  --Blue: hsla(216, 78%, 47%, 1);
  --Dark-Blue: hsla(206, 56%, 22%, 1);
  --Social-media-grey: hsla(207, 19%, 44%, 1);
  --grey-text: hsla(207, 19%, 44%, 1);
  --icon-light-blue: hsla(215, 72%, 82%, 1);
  --icon-bg-blue: hsla(213, 65%, 97%, 1);
  --page-bg-blue: rgb(245, 249, 255);
  --gold: hsla(36, 78%, 63%, 1);
  --green: hsla(155, 54%, 46%, 1);
  /* TEXT */
  --h1-font: normal 700 40px/50px "Playfair Display", sans-serif;
  --h2-font: normal 600 24px/30px "Playfair Display", sans-serif;
  --h3-font: normal 600 16px/21px "Playfair Display", sans-serif;
  --h4-font: normal 600 14px/21px "Playfair Display", sans-serif;
  /* green-heading-font */
  --small-p-font: normal 400 14px/19px "Open Sans", sans-serif;
  /*nav text and body font*/
  --nav-font: normal 700 16px/21px "Open Sans", sans-serif;
  --mid-p-font: normal 400 16px/27px "Open Sans", sans-serif;
  --big-p-font: normal 400 20px/35px "Open Sans", sans-serif;
  --btn-font: normal 700 16px/20px "Open Sans", sans-serif;
  --nav-bar-shadow: 0px 2px 12px rgba(0, 0, 0, 0.10);
}

body {
  font: var(--big-p-font);
  color: var(--grey-text);

}

/* FONT FORMATTING */
h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

h3 {
  font: var(--h3-font);
}

h4 {
  font: var(--h4-font);
}

h1,
h2,
h3,
h4 {
  color: var(--Dark-Blue);
}

.bold-text {
  font-weight: bold;
}

/* padding for each section */
#hero-section,
#About,
#Features,
#mobile-app-section,
#Testimonials,
#CTA-section,
footer {

  padding: 32px 100px;
}

/* STYLING FOR NAVBAR (HEADER) */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0px 20px; */
  padding: 25px 0px;
  box-shadow: var(--nav-bar-shadow);
  position: sticky;
  top: 0;
  width: auto;
  height: auto;
  background-color: white;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: var(--Dark-Blue);
  margin: 10px 16px;
  font: var(--nav-font);
}

nav a:hover {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 9px;
  font: var(--nav-font);
}

#get-it-now-btn button {
  font: var(--nav-font);
  background: var(--Blue);
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: white;
}

#get-it-now-btn button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

/* STYLING FOR HERO SECTION */

#hero-section {
  /* TO DO: Add bottom concave image for the background */
  /* width: 100vw; */
  height: 100%;
  background-color: var(--page-bg-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 32px; */
  /* padding: 32px 100px; */
}

#left-hero-col {
  width: 493px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

#hero-title-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#app-badges {
  display: flex;
  gap: 18px;
}

#scroll-to-features-btn {
  display: flex;
  font: var(--small-p-font);
  gap: 8px;
}

#iPhone-hero-mockup {

  width: 761px;
  height: 763.87px;
  padding-top: 50px;

}

#hero-bg-circle {
  position: absolute;
  width: 761px;
  height: 763.87px;
  z-index: -1;
  padding-top: 40px;
  padding-left: 80px;
}

.right-hero-section {
  z-index: 1;
  /* margin-right: -200px; */
  padding-top: 40px;
}

#hero-bottom-bg {
  position: relative;
  /* TO DO: find a way to position it correctly - must cut the right ride */
  margin-top: -360px;
  padding: 100px 0px;
  display: inline-block;
  z-index: 2;
  width: 100%;
}

/* STYLING FOR ABOUT SECTION */

#about-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 767px;
}

.feature-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  gap: 20px;
}

.feature-set p {
  font: var(--mid-p-font)
}

.feature-icon {
  width: 60px;
  height: 60px;
}


#features-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 38px;
}

.feature-set a {
font: var(--btn-font);
text-decoration: none;
color: var(--Blue);
}

.feature-set a::after {
  content: url(Assets/Arrow.svg);
  display: inline-block;
  margin-left: 8px;  
}

/* STYLING FOR FEATURES SECTION */

#Features {
background-color: var(--Blue);
}

#Features h2, h4 {
color: white;
} 

.features-title p {
  color: white;
  font: var(--mid-p-font);
  } 

  #Features p {
    color: var(--icon-light-blue);
    font: var(--mid-p-font);
    }

  #left-features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 275px;
    text-align: right;
    gap: 70px;
  }

  #right-features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 275px;
    text-align: left;
    gap: 70px;
  }