/* TO DO: 
  - GO THROUGH FONT COLOURS 
  - Fix background images of cricles being cut 
  - find the best hover states for the CTA buttons
  - change nav hover colors
  - remove flexbox where not necessary 
  */


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {
  /* colours */
  --Blue: hsla(216, 78%, 47%, 1);
  --Dark-Blue: hsla(206, 56%, 22%, 1);
  --Social-media-grey: hsla(207, 19%, 44%, 1);
  --grey-text: hsla(207, 19%, 44%, 1);
  --icon-light-blue: hsla(215, 72%, 82%, 1);
  --icon-bg-blue: hsla(213, 65%, 97%, 1);
  --page-bg-blue: rgb(245, 249, 255);
  --gold: hsla(36, 78%, 63%, 1);
  --green: hsla(155, 54%, 46%, 1);
  /* TEXT */
  --h1-font: normal 700 40px/47px 'Abhaya Libre', serif;
  --h2-font: normal 600 24px/28px 'Abhaya Libre', serif;
  --h3-font: normal 600 16px/21px 'Abhaya Libre', serif;
  /* --h4-font: normal 600 14px/21px 'Abhaya Libre', serif; */
  /* green-heading-font */
  --small-p-font: normal 400 14px/22px "Open Sans", sans-serif;
  /*nav text and body font*/
  --nav-font: normal 700 16px/21px "Open Sans", sans-serif;
  --mid-p-font: normal 400 16px/27px "Open Sans", sans-serif;
  --big-p-font: normal 400 20px/35px "Open Sans", sans-serif;
  --btn-font: normal 700 16px/20px "Open Sans", sans-serif;
  --nav-bar-shadow: 0px 2px 12px rgba(0, 0, 0, 0.10);
}

body {
  font: var(--big-p-font);
  color: var(--grey-text);
  overflow-x: hidden;
}

/* FONT FORMATTING */
h1 {
  font: var(--h1-font);
}

h2 {
  font: var(--h2-font);
}

h3 {
  font: var(--h3-font);
}

/* h4 {
  font: var(--h4-font);
} */

h1,
h2,
h3 {
  color: var(--Dark-Blue);
}

.bold-text {
  font-weight: bold;
}

/* padding for each section */
#hero-section,
#About,
#Features,
#mobile-app-section,
#Testimonials,
#Pricing,
#CTA-section,
footer {

  padding: 32px 100px;
}

/* STYLING FOR NAVBAR (HEADER) */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0px 20px; */
  padding: 25px 0px;
  box-shadow: var(--nav-bar-shadow);
  position: sticky;
  top: 0;
  width: auto;
  height: auto;
  background-color: white;
  z-index: 50;
}

nav a {
  text-decoration: none;
  color: var(--Dark-Blue);
  margin: 10px 16px;
  font: var(--nav-font);
}

nav a:hover {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 9px;
  font: var(--nav-font);
  color: var(--Blue);
}

#get-it-now-btn {
  font: var(--nav-font);
  background: var(--Blue);
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: white;
}

#get-it-now-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

/* STYLING FOR HERO SECTION */

#hero-section {
  background-color: var(--page-bg-blue);
}

.hero-content-container {
  display: flex;
}

#left-hero-col {
  width: 493px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#hero-title-text p {
  padding-top: 40px;
}

#hero-title-text h1 {
  padding-top: 90px;
}

.apple-store-btn {
  margin-right: 18px;
}

#scroll-to-features-btn {
  font: var(--small-p-font);
}

#iPhone-hero-mockup {
  position: relative;
  width: 761px;
  height: 763.87px;
  top: 100px;
  left: 100px;
  z-index: 1;

}

#hero-bg-circle {
  position: absolute;
  width: 761px;
  height: 763.87px;
  margin-top: 40px;
  margin-left: 200px;
}


.hero-bottom-bg {
  position: relative;
  /* margin-top: -330px; */
  padding: 100px 0px;
  display: inline-block;
  width: 100%;
  /* border style just to see where the image starts and ends */
  border-style: solid;
}

/*  ABOUT SECTION */

#about-title-text {
  text-align: center;
  gap: 25px;
  width: 767px;
}

.feature-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  gap: 20px;
}

.feature-set p {
  font: var(--mid-p-font)
}


#features-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 38px;
}

.feature-set a {
  font: var(--btn-font);
  text-decoration: none;
  color: var(--Blue);
}

.feature-set a::after {
  content: url(Assets/Arrow.svg);
  /* display: inline-block; */
  margin-left: 8px;
}

/* STYLING FOR FEATURES SECTION */

#Features {
  background-color: var(--Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#features-title h2,
#mockup-features-container h3 {
  color: white;
}

#features-title p {
  color: white;
  font: var(--mid-p-font);
  padding-top: 10px;

}

#features-title {
  text-align: center;
  width: 590px;
}

#Features p {
  color: var(--icon-light-blue);
  font: var(--mid-p-font);
  opacity: 70%;
}



#left-features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 275px;
  text-align: right;
  gap: 70px;
}

#right-features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 275px;
  text-align: left;
  gap: 70px;
}

#mockup-features-container {
  display: flex;
  align-content: center;
}

.features-top-bg-img {
  width: 100%;
  /* TO DO: Find out why the gap was still there after using display block */
  margin: -2px;
  display: block;
}

.features-bottom-bg-img {
  width: 100%;
}

/* MOBILE APP SECTION */

#mobile-app-section {
  display: flex;
  justify-content: space-between;
}

.green-text {
  font: var(--grey-text);
  color: var(--green);
}

#mobile-app-title p {
  font: var(--mid-p-font);
}

#mobile-app-title {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 422px;
}

.mobile-app-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 235px;
  gap: 8px;
}

.mobile-app-feature p {
  font: var(--mid-p-font);
}

#mobile-app-features-container {
  display: flex;
  gap: 55px;
}

.mobile-app-feature h3 {
  padding-top: 15px;
}

/* Button styling: 
- created a button with an arrow added as a pseudo element
- added an arrow (as a pseudo-element) to the button on hover state  */

#try-it-out-free-btn button {
  text-decoration: none;
  font: var(--btn-font);
  color: white;
  background: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: transparent;
  position: relative;
  z-index: 1;
  left: 55px;
  bottom: 10px;
  /* Need to find better way to move the elements other than margin so that 
  it overlaps with the dotted grid */
  margin-left: -55px;

}

/* added the arrow as a pseudo-element for the button */
#try-it-out-free-btn button::after {
  content: url(Assets/Arrow-white.svg);
  display: inline-block;
  margin-left: 8px;
}

#try-it-out-free-btn button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

#try-it-out-free-btn button:hover::after {
  content: url(Assets/Arrow.svg);
  display: inline-block;
  margin-left: 8px;
}


/* Old styling for the button that used the arrow image in the HTML */

/* .try-it-out-free-btn {
  text-decoration: none;
  font: var(--btn-font);
  color: white;
  background: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: transparent;
  position: relative;
  z-index: 1;
  left: 55px;
  bottom: 10px;
  margin-left: -55px;
} */
/* .try-it-out-free-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
} */


#left-mobile-app-section-col {
  display: flex;
  flex-direction: column;
  gap: 52px;
}


.button-frame-container {
  position: relative;
  display: flex;
  align-items: center;
}

.button-bg-frame {
  position: relative;
  z-index: -2;
}

/* TO DO: Figure out how to align background circle and phone to get cut off screen without 
    affecting scrolling */
#right-mobile-app-section-col {
  display: flex;
  align-items: center;
  /* left: 200px; */
  position: relative;
  /* padding-left: 100px; */
  /* background-image: url(Assets/bg\ circle\ img.svg); */

}

.light-blue-bg-circle {
  position: absolute;
}

.white-iphone,
.iphone-mockup {
  z-index: 1;
}

/* TESTIMONIAL SECTION */

#Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  margin-bottom: 50px;
}

.heading-brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.list-of-companies {
  display: flex;
  padding-top: 30px;
  gap: 74px;
}

/* grouping of name, title and profile picture of testimonial */
.title-text {
  font-style: italic;
  font-size: 14px;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.title-text::before {
  content: url(Assets/verified-tick.svg);
  display: inline-block;
}

.name-title {
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.testimonial-reference {
  display: flex;
  align-items: center;
  gap: 11px;
}

/* styling testimonial text and block */
.testimonial-text {
  font: var(--mid-p-font);
}

.testimonial-block {
  width: 243px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 13px;
}

#testimonial-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* PRICING SECTION */


.top-pricing-bg,
.bottom-pricing-bg {
  width: 100%;
  display: flex;
}

#Pricing {
  background-color: var(--page-bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  /* padding-bottom: 100px; */
}

.green-text span {
  background: hsla(154, 56%, 44%, 0.13);
  padding: 10px;
  border-radius: 29px;
}

.pricing-header h2 {
  width: 308px;
  padding-top: 10px;
}

.pricing-header p {
  font: var(--mid-p-font);

}

.pricing-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 610px;
  align-items: center;
  gap: 15px;
}

/* card styling */
.card-containter {
  display: flex;
  gap: 76px;
}

#card-green,
#card-gold,
#card-blue {
  background-color: white;
  padding: 50px 35px 35px 35px;
  border-top-style: solid;
  border-width: 5px;
  border-radius: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 60px;
  width: 230px;
}

#card-green,
#card-gold,
#card-blue p {
  font: var(--small-p-font);
}

#card-green {
  border-color: var(--green);
}

#card-gold {
  border-color: var(--gold);
}

#card-blue {
  border-color: var(--Blue);
}

#card-green-header {
  color: var(--green);
}

#card-gold-header {
  color: var(--gold);
}

#card-blue-header {
  color: var(--Blue);
}


/* .get-started-btn {
  font: var(--btn-font);
  text-decoration: none;
  color: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

.get-started-btn:hover {
  font: var(--btn-font);
  text-decoration: none;
  color: white;
  background: var(--Blue);
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: transparent;
} */

/* button styling */
.get-started-btn button {
  font: var(--btn-font);
  color: var(--Blue);
  background: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);

}

.get-started-btn button::after {
  content: url(Assets/Arrow.svg);
  display: inline-block;
  margin-left: 8px;
}

.get-started-btn button:hover {
  font: var(--btn-font);
  cursor: pointer;
  background-color: var(--Blue);
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: transparent;
}

.get-started-btn button:hover::after {
  content: url(Assets/Arrow-white.svg);
  display: inline-block;
  margin-left: 8px;

}


/* CTA - GET OUR FINANCE APP NOW */

#CTA-section {
  padding-bottom: 150px;
}

.CTA-container {
  background-color: var(--Blue);
  width: 1227.5px;
  height: 298px;
  position: relative;
  /* margin: -150px is to make it cross over to the top section. margin: auto is to center align it  */
  margin: -150px auto;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.CTA-container h2 {
  color: white;
}

.CTA-container p {
  color: var(--icon-light-blue);
}

.try-it-for-free-btn button {
  text-decoration: none;
  font: var(--btn-font);
  color: var(--Blue);
  background: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: var(--Blue);
}

/* TO DO: Find out hte best styling for the hover states of these buttons */

.try-it-for-free-btn button::after {
  content: url(Assets/Arrow.svg);
  margin-left: 8px;
}

/* .try-it-for-free-btn button:hover {
    text-decoration: none;
    font: var(--btn-font);
    color: white;
    background: var(--Blue);
    border-radius: 30px;
    padding: 10px 16px;
    border-style: solid;
    border-color: white;
  }
  
  .try-it-for-free-btn button:hover:after {
    content: url(Assets/Arrow-white.svg);
    margin-left: 8px;
    } */

.watch-demo-btn button {
  text-decoration: none;
  font: var(--btn-font);
  background-color: var(--Blue);
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border-style: solid;
  border-color: white;
}

.watch-demo-btn button::after {
  content: url(Assets/Arrow-white.svg);
  margin-left: 8px;
}

/* .watch-demo-btn button:hover {
    text-decoration: none;
    font: var(--btn-font);
    background-color: white;
    color: var(--Blue);
    border-radius: 30px;
    padding: 10px 16px;
    border-style: solid;
    border-color: transparent;
  }
  
  .watch-demo-btn button:hover:after {
    content: url(Assets/Arrow.svg);
    margin-left: 8px;
    } */


.cta-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.CTA-buttons {
  display: flex;
  justify-content: center;
  gap: 27px;
}


/* FOOTER SECTION */

footer p,
a {
  font: var(--mid-p-font);
}

#footer-columns {
  margin-top: 180px;
  display: flex;
  gap: 100px;
}

#left-footer-col {
  display: flex;
  flex-direction: column;
  width: 245px;
  gap: 26px;
}

#products-links,
#services-links,
#company-links,
#more-links {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#footer-nav-menu {
  display: flex;
  gap: 100px;
}

#footer-nav-menu a {
  text-decoration: none;
  color: var(--grey-text);
}

#copyright-section {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}