* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*======================

        CUSTOM VARIABLES

======================== */
:root {
    /* COLOR */
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    /* FONT */
    --quote-ff: normal 300 3.2rem/4.4rem 'Inter';
    --name-title-ff: normal 700 2rem/3.8em 'Inter';
    /* SHADOW */
    --img-shadow: 0px 40px 50px -30px #2424717E;
}

/*======================

        TYPOGRAPHY

======================== */












/*======================

        IMAGES

======================== */

/* Add background images */






/*======================

        BUTTONS

======================== */










/*======================

        LAYOUT

======================== */











/*======================

        MEDIA QUERIES

======================== */


@media (min-width: 1440px) {
    
}