/* NEED HELP with the testimony-container: the background image gets cut
I need it to overflow outside of the container */

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-size: 62.5%;
}

/*======================

        CUSTOM VARIABLES

======================== */
:root {
        /* COLOR */
        --dark-blue: hsl(240, 38%, 20%);
        --grayish-blue: hsl(240, 18%, 77%);
        /* FONT */
        --quote-ff: normal 300 1.8rem/2.4rem 'Inter';
        --name-title-ff: normal 700 1.5rem 'Inter';
        /* SHADOW */
        --img-shadow: 0px 40px 50px -30px #2424717E;
        --btn-shadow: 0px 15px 20px -10px #24247119;
}

/*======================

        TYPOGRAPHY

======================== */

.signature {
        font: var(--name-title-ff);
}

.name {
        color: var(--dark-blue);
}

.title {
        font-weight: 500;
        color: var(--grayish-blue);
}

.testimonial-quote {
        font: var(--quote-ff);
        color: var(--dark-blue);
}


/*======================

        BUTTONS

======================== */

.slider-buttons {
        width: 10rem;
        box-shadow: var(--btn-shadow);
        border-radius: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        /* transform: translateY(28rem); */
        /* top: 41%; */
        bottom: 65%;
        background-color: white;
}

.slider-buttons button {
        border: none;
        cursor: pointer;
        padding: 1.4rem 0;
        width: 8rem;
        background-color: white;
}

.prev-btn {
        border-radius: 2.8rem 0 0 2.8rem;
}

.prev-btn:hover {
        background-color: rgb(250, 250, 250);
}

.next-btn {
        border-radius: 0 2.8rem 2.8rem 0;
}

.next-btn:hover {
        background-color: rgb(250, 250, 250);
}



/*======================

        IMAGES

======================== */

footer img {
        height: 7.2rem;
}

.tanya-img,
.john-img {
        width: 254px;
        border-radius: .5rem;
        box-shadow: var(--img-shadow);
}

/* ====background images==== */
.testimony-container {
        background: url(images/pattern-bg.svg) no-repeat;
        background-position: center top;
        background-size: 326.5px;

}

.testimonial-text-wrapper {
        background: url(images/pattern-quotes.svg) no-repeat; 
        background-position: center top;
        background-size: 60px;
}


/*======================

        LAYOUT

======================== */


.main-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
}

body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.container-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5.7rem;
}

.signature {
        order: 2;
        padding-top: 2rem;
}

.testimonial-text-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        order: 3;
        padding: 0 3.2rem;
        padding-top: 2.5rem;
        max-width: 481px;
        text-align: center;
}

.testimony-container {
        margin-top: 2.4rem;
        padding-top: 3rem;
        min-width: 375px;
}




/*======================

        INTERACTIVITY

======================== */

.testimony-container,
.testimony-hidden {
        display: none;
}

.testimonial-visible {
        display: flex;
}




/*====================== 

        MEDIA QUERIES

======================== */

/*===== TABLET MODE =====*/
@media (min-width: 685px) {

        .testimonial-quote {
                font-size: 2.2rem;
                line-height: 3.2rem;
        }

        .testimonial-text-wrapper {
                max-width: 635px;
        }

        /* ===== buttons ===== */
        .slider-buttons {
                /* transform: translateY(37rem); */
                bottom: 55%;
        }

        /* ===== images ===== */
        .tanya-img,
        .john-img {
                width: 320px;
        }

        .testimony-container {
                background-size: 400px;
                margin-top: 4.4rem;
        }

        .testimonial-text-wrapper {
                background-size: 70px;
        }

        footer img {
                height: 9rem;
        }

}



/*===== DESKTOP MODE =====*/
@media (min-width: 970px) {

        .testimonial-quote {
                font-size: 3.2rem;
                line-height: 4.4rem;
        }

        .testimonial-text-wrapper {
                padding: 0;
                text-align: left;
                order: 0;
                padding-top: 6.4rem;
                transform: translateX(10%);
                z-index: 1;
        }
        .testimony-container {
                margin: 0 auto;
                min-height: 100vh;
        }

        .signature {
                display: flex;
                gap: 10px;
        }

        .container-flex {
                flex-direction: row;
        }

        /* ===== buttons ===== */
        .slider-buttons {
                /* position: relative;
                transform: translateY(-13.5rem) translateX(160%); */
                bottom: 17%;
                left: 55%;
        }


        /* ===== images ===== */
        .tanya-img,
        .john-img {
                width: auto;
                transform: translateX(-10%);
        }

        .testimony-container {
                background-size: auto;
                background-position: 110% 50%;
        }

        .testimonial-text-wrapper {
                background-size: 120px;
                background-position: 20% top;
        }

        footer img {
                height: 100%;
        }
        footer {
                position: absolute;
                bottom:0;
        }

}