*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

    CUSTOM VARIABLES

=============================== */

:root {
    /******** colors ********/
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --dark-blue: hsl(218, 23%, 16%);
    --grayish-blue: hsl(217, 19%, 24%);
    --dark-grayish-blue: hsl(217, 19%, 38%);
    /******** font ********/
    --title: normal 800 1.1rem/1.5rem 'Manrope';
    --body: normal 800 2.4rem/3.2rem 'Manrope';
    /******** shadows ********/
    --button-shadow: 0px 0px 40px 0px #53FFAA;
}


/* ============================

    TYPOGRAPHY

=============================== */
.card h3 {
    font: var(--title);
    color: var(--neon-green);
}

.card p {
    font: var(--body);
    color: var(--light-cyan);
    text-align: center;

}


/* ============================

    BUTTONS

=============================== */

button {
    padding: 2rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--neon-green);
    cursor: pointer;
    position: relative;
    top: 3.3rem;
}

button:hover {
    cursor: pointer;
    box-shadow: var(--button-shadow);
}

button:active {
    cursor: pointer;
    background-color: #42e493;
    box-shadow: var(--button-shadow);
}


/* ============================

    IMAGES 

=============================== */

.divider-desktop {
    display: none;
}

.divider-mobile {
    /* margin-top: 2rem; */
}

/* ============================

    LAYOUT

=============================== */

.card h3 {
    padding-top: 4rem;
}

.card p {
    padding: 2.4rem;
}

.card {
    /* min-height: 31.5rem; */
    background-color: var(--grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    margin-top: 10rem;
}

body {
    background-color: var(--dark-blue);
    min-width: 37.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ============================

    INTERACTIVITY 

=============================== */




/* ============================

MEDIA-QUERIES

=============================== */

@media (min-width: 540px) {

    .divider-mobile {
        display: none;
    }

    .divider-desktop {
        display: initial;
    }

    .card p {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }

    .card h3 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .card {
        max-width: 54rem;
    }

}