/* TO DO: 
    - ADD SMOOTH ANIMATIONS FOR DROP DOWNS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
    /* gradients */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --bg-gradient: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    /* fonts */
    --h1-ff: normal 700 32px/40px 'Kumbh Sans';
    --p-heading-ff: normal 400 14px/18px 'Kumbh Sans';
    --body-ff: normal 400 12px/18px 'Kumbh Sans';
    /* shadows */
    --card-shadow: 0px 50px 50px -20px #35127A7F;
}

body {
    background: var(--bg-gradient) no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*********************** Card ***********************/

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 509px;
    min-width: 920px;
    background-color: white;
    border: none;
    border-radius: 23px;
}

/*********************** FONTS ***********************/

h1 {
    font: var(--h1-ff);
    margin-bottom: 35px;
    color: var(--Very-dark-desaturated-blue);
}

.heading {
    font: var(--p-heading-ff);
    color: var(--Very-dark-grayish-blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.heading:hover {
    color: var(--Soft-red);
}

.expanded-text {
    font: var(--body-ff);
    color: var(--Dark-grayish-blue);
    height: 0px;
    overflow: hidden;
}


/*********************** CONTENT COLUMN ***********************/


.wrapper {
    width: 350px;
}


/*********************** ACCORDION ITEMS ***********************/

/*  Arrow button added as pseudo-element

.heading::after {
    content: url(images/icon-arrow-down.svg);
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(241, 161, 161);
} */

.faq-item {
    border-bottom: solid 1px var(--Light-grayish-blue);
    padding: 15px 0px;
}

.clicked-arrow-btn {
    transform: rotate(180deg);
    transition: 0.5s;
}

/* Hidden state for accordion item body */
.show-text {
    display: contents;
    /* transition-duration: 400ms; */
}

/****** activated states ******/
/* rename to active */
.selected-item {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}