*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

    CUSTOM VARIABLES

=============================== */

:root {
    /******** colors ********/
    --white: hsl(0, 0%, 98%);
    --grey: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    /******** font ********/
    --h1-font: normal 700 3.6rem/4.2rem 'Epilogue';
    --p-font: normal 500 1.6rem/2.6rem 'Epilogue';
    --btn-font: normal 700 1.6rem/2.6rem 'Epilogue';
}


/* ============================

    TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-font);
}

main p {
    font: var(--p-font);
    color: var(--grey);
}

main button {
    font: var(--btn-font);
}

menu ul,
li {
    font: var(--p-font);
    color: var(--grey);
}


/* ============================

    BUTTONS

=============================== */

.menu-hamburger-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.login-btn,
.register-btn {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 1.3rem 6.6rem;
    border-radius: 1.4rem;
}

.register-btn {
    cursor: pointer;
    border: solid var(--grey) 1.5px;
}

.learn-more-btn {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 1.5rem;
}

/* === menu buttons === */

.menu-close-btn {
    background: none;
    border: none;
    margin-bottom: 3rem;
}

.features-btn::after,
.company-btn::after {
    content: url('images/icon-arrow-up.svg');
    margin-left: 1.6rem;
}

.to-do-btn::before {
    content: url('images/icon-todo.svg');
}

.calendar-btn::before {
    content: url('images/icon-calendar.svg');
}

.reminders-btn::before {
    content: url('images/icon-reminders.svg');
}

.planning-btn::before {
    content: url('images/icon-planning.svg');
}

.to-do-btn::before,
.calendar-btn::before,
.reminders-btn::before,
.planning-btn::before {
    margin-right: 1.2rem;
}

.dropdown-btn {
    margin-left: 2rem;
}

/* ============================

    IMAGES

=============================== */

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper img {
    width: 20%;
}

.hero-img {
    width: 100%;
}


/* ============================

    LAYOUT

=============================== */

body {
    background-color: #E5E5E5;
    height: 100%;

}

.container {
    min-width: 375px;
    background-color: white;
    margin: 0 auto;
    height: 100%;
}

.container-flex {
    display: flex;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: beige;
width: 100%;
}

nav,
.body-content,
.logo-wrapper {
    padding: 1.6rem 1.6rem;
}

.main-flex {
    display: flex;
    flex-direction: column;
    padding-top: 2.4rem;
    align-items: center;
/* background-color: red; */
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 4.8rem 1.5rem;
}

.logo-wrapper {
    padding-bottom: 9.4rem;
}

/* === menu bar === */

.menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

menu {
    /* visibility:hidden; */
    background-color: var(--white);
    padding: 2.4rem 2.4rem 12.4rem;

    /***** absolute positioning was used to make it go over the content *****/
    /* position: absolute;e */

}

menu li {
    list-style: none;
    margin-bottom: 1.6rem;
}

.access-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ============================

MEDIA-QUERIES

=============================== */


/* TABLET */

@media (min-width: 740px) {

    /*=== Typography ===*/

    h1 {
        font-size: 6.4rem;
        line-height: 6.4rem;
    }

    main p {
        font-size: 1.8rem;
    }

    main button {
        font-size: 1.8rem;
    }

    /*=== Images ===*/

    .logo-wrapper img {
        width: 20%;
    }


    /*=== Layout ===*/

    .body-content p {
        width: 64.8rem;
    }
}

/* DESKTOP */
@media (min-width: 980px) {

    .container-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-flex {
        flex-direction: row;
        background-color: white;
        align-items: baseline;
    }

    menu li {
        margin-left: 3rem;
    }

    .access-btn-wrapper {
        flex-direction: row;
        gap: 10px;
    }

    .login-btn,
    .register-btn {
        background-color: white;
    }

    .menu-close-btn,
    .menu-hamburger-btn {
        visibility: hidden;
    }

    .main-flex {
        flex-direction: row;
    }

    .nav-flex img {
        
    }



}