*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

    CUSTOM VARIABLES

=============================== */

:root {
    /******** colors ********/
    --white: hsl(0, 0%, 98%);
    --grey: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    /******** font ********/
    --h1-font: normal 700 3.6rem/4.2rem 'Epilogue';
    --p-font: normal 500 1.6rem/2.6rem 'Epilogue';
    --nav-font: normal 500 1.6rem/2.6rem 'Epilogue';
    --btn-font: normal 700 1.6rem/2.6rem 'Epilogue';
    /******** shadows ********/
    --nav-shadow: 0px 10px 40px 0px #00000026;
}


/* ============================

    TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-font);
}

.body-content p {
    font: var(--p-font);
    color: var(--grey);
}

.learn-more-btn {
    font: var(--btn-font);
}

.nav-links-wrapper ul {
    list-style: none;
}

.nav-links-wrapper a {
    font: var(--nav-font);
    text-decoration: none;
    color: var(--grey);
}

.login-btn,
.register-btn {
    font: var(--nav-font);
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--grey);
}

/* ============================

    BUTTONS

=============================== */

.menu-toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 3rem;
    /* display: none; */
}

.menu-close-btn {
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 3rem;
    /* display: none; */
}

/* nav buttons */
.nav-links-wrapper a:hover {
    color: var(--black);
}

.features-btn::after,
.company-btn::after {
    content: url('images/icon-arrow-up.svg');
    margin-left: .8rem;
}

.features-btn:hover,
.company-btn:hover {
    cursor: pointer;
}


.dropdown-company li:hover,
.dropdown-features li:hover {
    cursor: pointer;
}

.dropdown-features li a {
    margin-left: 1rem;
}


/* access buttons */
.login-btn,
.register-btn {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 1.4rem;
}

.register-btn {
    cursor: pointer;
    padding: 1.3rem 2.2rem;
    border: solid var(--grey) 1.5px;
}

.login-btn {
    background-color: transparent;
}

.login-btn:hover,
.register-btn:hover {
    color: var(--black);
    border-color: var(--black);
}


/* body buttons */
.learn-more-btn {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    border: solid var(--black) 1.5px;
    padding: 1.1rem 2.2rem;
    border-radius: 1.5rem;
}

.learn-more-btn:hover {
    border: solid var(--black) 1.5px;
    background-color: transparent;
    color: var(--black);
}


/* ============================

    IMAGES

=============================== */

.to-do-btn img,
.calendar-btn img,
.reminders-btn img,
.planning-btn img {
    width: 1.4rem;
}

.logo-wrapper img {
    width: 20%;
}

.hero-img-wrapper img {
    width: 100%;
}

/* ============================

    LAYOUT

=============================== */

.container {
    min-width: 37.5rem;
    /* display: flex; */
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.header-logo {
    padding: 1.6rem;
}


/* nav  menu */
.nav-container-flex {
    min-width: 24rem;
    background-color: var(--white);
    position: absolute;
    right: 0;
    height: 100vh;
}

.menu-close-btn, 
.menu-toggle-btn {
    padding-top: 1.6rem;
    padding-left: 1.6rem;
}

nav {
    padding: 0rem 2.4rem;
}


.nav-links>li {
    margin-top: 1.6rem;
}


.nav-links ul li {
    margin-left: 2.4rem;
    margin-top: 1.6rem;
}




.access-btns-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    gap: 2rem;
}


main {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1.5rem;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body-content h1 {
    margin-top: 4.8rem;
}

.body-content p {
    margin-top: 1.6rem;
}

.learn-more-btn {
    margin-top: 2.4rem;
}


.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.8rem;
    padding-bottom: 5rem;
}



/* ============================

MEDIA-QUERIES

=============================== */


/* ==== TABLET ==== */

/* @media (max-width: ) {

} */




/* ==== MOBILE ==== */

/* @media (max-width: ) {

} */