*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

    CUSTOM VARIABLES

=============================== */

:root {
    /******** colors ********/
    --white: hsl(0, 0%, 98%);
    --grey: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    /******** font ********/
    --h1-font: normal 700 3.6rem/4.2rem 'Epilogue';
    --p-font: normal 500 1.6rem/2.6rem 'Epilogue';
    --btn-font: normal 700 1.6rem/2.6rem 'Epilogue';
}


/* ============================

    TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-font);
}

main p {
    font: var(--p-font);
    color: var(--grey);
}

main button {
    font: var(--btn-font);
}

menu ul, li {
    font: var(--p-font);
    color: var(--grey);
}


/* ============================

    BUTTONS

=============================== */

.menu-hamburger-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.login-btn,
.register-btn {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 1.3rem 6.6rem;
    border-radius: 1.4rem;
}

.register-btn {
    cursor: pointer;
    border: solid var(--grey) 1.5px;
}

.learn-more-btn {
    cursor: pointer;
    background-color: var(--black);
    color: white;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 1.5rem;
}

/* ============================

    IMAGES

=============================== */

.logo-wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper img {
    width: 20%;
}

.hero-img {
    width: 100%;
}


/* ============================

    LAYOUT

=============================== */

.container {
    width: 375px;
    padding: 1.6rem 0 9rem 0;

}

.container-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: wheat; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
text-align: center;
    gap: 24px;
    padding: 4.8rem 1.5rem;
}

menu li {
    list-style: none;
}

/* ============================

MEDIA-QUERIES

=============================== */

@media (min-width: 375px) {}