* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

}


header {
  display: flex;
  padding: 100px;
  justify-content: space-between;
}

#header-logo {
  width: 240px;
  height: 39px;
}

#nav-signup-button {
  border: 1px solid #ff52bf;
  background-color: white;
  color: #ff52bf;
  border-radius: 50px;
  padding: 12px 35px;
  width: 136px;
  height: 43px;
  
}

#nav-signup-button:hover {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 5px #ff52bf;

}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

h2 {
  
  font-size: 48px;
  margin: 32px;
}

#hero {
  text-align: center;
}

.top-hero-section p {
  max-width: 605px;
  margin: auto;
  font-size: 20px;
}

.body-signup-button {
  background: #ff52bf;
  color: white;
  margin: 50px 35px 120px;
  width: 400px;
  height: 80px;
  border: none ;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  font-size: 20px;
}

.body-signup-button:hover {
  cursor: pointer;
  background-color: #FFC0E8;
}

.mockup-screen {
  position: relative;
}

.bottom-hero-section {
  display: flex;
  justify-content: space-evenly;
  margin: 130px 0;
  text-align: left;
  align-content: space-between;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  font-family: "Open Sans", "sans-serif";
}

.bottom-hero-section p {
  color: #cfcfcf;
  font-size: 20px;
  font-weight: 400;
}

/* makes top and bottom bg images to mash with colour bg */
.top-bg-section-1,
.top-bg-section-2,
.top-bg-footer,
.bottom-bg-section-1,
.bottom-bg-section-2 {
  margin: -5px;
  width: 100%;
}

.blue-body-container img {
  width: 522px;
  height: 425px;
}

.blue-body-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 50px 0;
  background-color: #f5faff;
  max-height: 560px;
}

.section-text {
  max-width: 510px;
  line-height: 1.6em;
  margin: 150px 0;
}

.section-text h3 {
  margin-bottom: 25px;
  font-size: 36px;
}

.white-body-container img {
  width: 522px;
  height: 425px;
}

.white-body-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 50px 0;
  max-height: fit-content;
}

.white-cta-container {
  text-align: center;
  font-size: 36px;
  margin: 100px 0;
}

.footer-menu {
  background-color: #00252E;
  padding: 50px 100px;
  color: white;

}

.navy-body-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navy-body-container p {
  font-size: 14px;
  line-height: 1.6rem;
}

.left-foot-section p {
  margin-top: 32px;
  width: 345px;
}


.contact-details {
  display: flex;
  margin-top: 15px;
}

#phone-icon, #email-icon {
  margin-right: 20px;
  /* font-size: 20px; */
}



.newsletter-container p {
  width: 345px;
  justify-content: left;

}

.right-footer-section p {
  margin-top: 20px;
  /* line-height: 1.2rem; */
  
}

.newsletter-container h3 {
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  font-size: 24px;
  
}

.logo-lorem-container p {
  width: 345px;
  line-height: 1.2rem;
}


form {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

input {
  padding: 12px 35px;
  border: none;
  border-radius: 4px;

}

#email {
  width: 310px;
  height: 50px;
}


#subscribe {
  background: #ff52bf;
  color: white;
  margin-left: 48px;
  height: 50px;
  font-size: 16px;
}

#subscribe:hover {
  background-color: #FFC0E8;
  cursor: pointer;
}

.social-icons {
font-size: 30px;
margin: 70px 0;
max-width: 130px;
display: flex;
justify-content: space-between;

}

.social-icons a {
 color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}