* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

:root {
    --bg-color: #ECF2F8;
    --act-btn-color: #33EAA8;
}

body {
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 77px;
    margin-top: 7px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
}

menu a {
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    border-radius: 7px;
    width: auto;
    height: auto;
}


menu a:hover {
    color: var(--act-btn-color);
    text-decoration-color: var(--act-btn-color);
}

/* Last two styles are for the last button on the menu button (the donate) 
to change colour once hovered over */
menu a:nth-last-of-type(1) {
    background: #33EAA8;
}

menu a:nth-last-of-type(1):hover {
    background-color: rgba(51, 234, 167, 0.692);
    color: black;
}

