* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colors styles */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --purple: hsl(248, 32%, 49%);
    --dark-purple: hsl(249, 10%, 26%);
    --grey: hsl(246, 25%, 77%);
    /* Font styles */
    --h1-ff: normal 700 50px/55px 'Poppins';
    --p-ff: normal 500 16px/25px 'Poppins';
    --btn-ff: normal 600 15px/0px 'Poppins';
    --plc-holder-ff: normal 600 14px/26px 'Poppins';
    --small-txt-ff: normal 500 11px/16.5px 'Poppins';
    /* Shadow styles */
    --form-shadow: 0px 8px 0px 0px hsla(0, 0%, 0%, 0.15);
    --btn-shadow: 0px -4px 0px 0px hsla(0, 0%, 0%, 0.09) inset;
}

body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: var(--p-ff);
}

/* Left column styling */
.left-col {
    width: 525px;
    height: 220px;
    color: white;
}

h1 {
    font: var(--h1-ff);
    letter-spacing: -0.52px;
}

.left-col p {
    margin-top: 11px;
}

/* Right column styling */
.right-col {
    color: white;
}

.bold-text {
    font-weight: 600;
}

.price-notice {
    font: var(--btn-ff);
    box-shadow: var(--form-shadow);
    width: 540px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 540px;
    height: 474px;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--form-shadow);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    text-align: center;
    margin-top: 24px;
}

form p {
    margin-top: -10px;
    color: var(--grey);
    font: var(--small-txt-ff);
}

.highlight-text {
    font-weight: 700;
    color: var(--red);
}

/* Input fields + button styling */
::placeholder {
    font: var(--plc-holder-ff);
}
#submitBtn {
    font: var(--btn-ff);
    color: white;
    letter-spacing: 1px;
    background-color: var(--green);
    height: 56px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--btn-shadow);
    cursor: pointer;
}
#fName,
#lName,
#emailAddress,
#password {
    height: 56px;
    padding: 15px 32px;
    border: solid 1px var(--purple);
    border-radius: 5px;
    caret-color: var(--purple);
}
/* input text when typing */
input[type=text] {
    font: var(--plc-holder-ff);
    color: hsla(248, 9%, 26%, 1);
    letter-spacing: 0.25px;
}

