html, body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */


    letter-spacing: -0.05em;

}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;

}

body {
    height: auto;
    background: linear-gradient(246.26deg, 
    #585DFE 0%, 
    #FB3796 100%);
}

section {
    background: #1F2937;
    height: 100vh;
    padding: 10px;
}

/* font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #D2D2D2; */