body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    background-color: rgb(171, 171, 237);
}

.card {
    height: auto;
    width: 550px;
    background: linear-gradient(246.26deg,
            #585DFE 0%,
            #FB3796 100%);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: white;
    margin: 100px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.05em;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
}

span {
    color: grey;
}

.unitsContainer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #1F2937;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}