*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --green: #54E6AF;
    --light-grey: #C2CBE5;
    --grey: #5A668A;
    --dark-grey: #2C344B;
    --red: #FB3E3E;
    --navy-bg: #121725;
    /**** font ****/
    --h1-ff: normal 300 2.6rem/3.8rem 'Chivo';
    --p-ff: normal 300 1.5rem/2.5rem 'Chivo';
    --input-ff: normal 400 1.4rem/2.8rem 'Chivo';
    --error-msg-ff: normal 400 1.2rem/1.4rem 'Chivo';
}


/* ============================
            TYPOGRAPHY
=============================== */

h1 {
    font: var(--h1-ff);
    color: var(--green);
    text-transform: uppercase;
}

.accent-text {
    color: white;
}

p {
    font: var(--p-ff);
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--grey);
}


.error-msg {
    color: var(--red);
    font: var(--error-msg-ff);
    text-align: left;
}

/* 
TO DO: 
    - Replace px with rem for padding and margins 
    - Create styling for buttons in tablet and desktop mode
    - Use the right background images  
*/

/* ============================
            INPUT FORM
=============================== */

.email-input,
.request-btn {
    display: block;
    border: none;
    border-radius: 2.8em;
    padding: 0.9em 0;
    width: 100%;
    font: var(--input-ff);
    font-weight: 700;
}

.email-input {
    background-color: var(--dark-grey);
    color: white;
    padding-left: 3.2rem;
}

::placeholder {
    color: var(--light-grey);
    opacity: 60%;
}

.request-btn {
    background-color: var(--green);
    margin-top: 1.6rem;
    cursor: pointer;
}

form {
    width: 100%;
    margin: 5.7rem auto;
}

form .error-msg {
    font-weight: 700;
    margin-top: .8em;
    padding-left: 3.2rem;
}

/* ============================
            IMAGES
=============================== */

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3.3rem;
}

/* TO DO: Find out how to center align the logos as the screen size decreases */
.podcast-logo {
    padding-top: 0.5rem;
    margin-left: .5rem;
    width: 6rem;
}

.google {
    width: 9rem;
}

.pocket-casts {
    width: 7rem;
}


/* ============================
            LAYOUT
=============================== */

.dotted-background {
    display: none;
}

body {
    background-image: url(images/mobile-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-wrapper,
form,
.logo-container {
    max-width: 535px;
    padding: 0 2.4rem;
}

.text-wrapper {
    margin-top: 5.7em;
}

.text-wrapper p {
    margin-top: 1.6rem;
}

.container {
    background-color: var(--navy-bg);
    opacity: .9;
    padding: 6.2rem 0 9.4rem;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    min-width: 240px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    order: 4;
}



/* ============================
            MEDIA QUERIES
=============================== */

/******* Tablet view *******/
@media (min-width: 768px) {

    h1 {
        font-size: 4.8rem;
        line-height: 5.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .text-wrapper,
    form,
    .logo-container {
        min-width: 635px;
        padding: 0;
    }

    body {
        background-image: url(images/tablet-bg-image.jpg);
        background-color: var(--navy-bg);
        background-size: auto;
        background-position: top right;
    }

    .container-flex {
        align-items: flex-start;
        justify-content: space-between;
    }

    .container {
        background: none;
        opacity: 100%;
        text-align: left;
        padding: 5rem 0 0 3.9rem;
    }

    .background-block {
        background-color: var(--navy-bg);
        /* background-color: lightcoral; */
        margin-top: 15.2rem;
    }

    .text-wrapper p {
        width: 445px;
    }

    .email-input,
    .request-btn {
        display: inline;
        width: 445px;
    }

    .email-input {
        padding: 1.4em 3.2rem;
    }

    .request-btn {
        width: 16.2rem;
        margin-left: -17.2rem;
    }

    /* STYLE LOGOS */

    .dotted-background {
        display: block;
        width: auto;
    }



    /* .dotted-background img {
        position: relative;
        width: auto;
        left: 80%;
    } */
}

/* @media (min-width: 769px) {

    body {
        background-position: top right;
    }

    .content-wrapper h1,
    p {
        text-align: left;
    }
    .header-logo {
        background-color: var(--bg-black);
        padding: 80px 100px 100px 0px;
    }

    h1 {
        font: var(--h1-ff);
        font-size: 4.8rem;
        line-height: 5.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .content-wrapper {
        background-color: var(--bg-black);
        width: 735px;
    }

    .content-wrapper p {
        width: 445px;
    }

    .logo-container {
        justify-content: left;
        margin-bottom: 50px;
    }

    .container {
        align-items: flex-start;
        padding: 0rem 2.4rem;
        margin: 0 auto;
    }
} */