*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/* ============================
            CUSTOM VARIABLES
=============================== */
:root {
    /**** colors ****/
    --green: #54E6AF;
    --light-grey: #C2CBE5;
    --light-green: #B3FFE2;
    --grey: #5A668A;
    --dark-grey: #2C344B;
    --red: #FB3E3E;
    --navy-bg: #121725;
    /**** font ****/
    --h1-ff: normal 300 2.6rem/3.8rem 'Chivo';
    --p-ff: normal 300 1.5rem/2.5rem 'Chivo';
    --input-ff: normal 400 1.4rem/2.8rem 'Chivo';
    --error-msg-ff: normal 400 1.2rem/1.4rem 'Chivo';
}


/* ============================
            TYPOGRAPHY
=============================== */

h1 {
    font: var(--h1-ff);
    color: var(--green);
    text-transform: uppercase;
}

.accent-text {
    color: white;
}

p {
    font: var(--p-ff);
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--grey);
}

.error-msg {
    color: var(--red);
    font: var(--error-msg-ff);
    text-align: left;
}


/* ============================
            INPUT FORM
=============================== */

form {
    width: 100%;
    margin: 5.7rem auto;
}

.email-input,
.request-btn {
    display: block;
    border: none;
    border-radius: 2.8em;
    padding: 0.9em 0;
    width: 100%;
    font: var(--input-ff);
    font-weight: 700;
}

.email-input {
    background-color: var(--dark-grey);
    color: white;
    padding-left: 3.2rem;
}

::placeholder {
    color: var(--light-grey);
    opacity: 60%;
}

.request-btn {
    background-color: var(--green);
    margin-top: 1.6rem;
    cursor: pointer;
}

.request-btn:hover,
.request-btn:focus {
    background-color: var(--light-green);
}

form .error-msg {
    font-weight: 700;
    margin-top: .8em;
    padding-left: 3.2rem;
}


/* ============================
            IMAGES
=============================== */


.logo-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.podcast-logo {
    padding-top: 2rem;
    margin-left: 1rem;
    width: 8rem;
}


/* ============================
            LAYOUT
=============================== */

.dotted-background {
    display: none;
}

body {
    background-image: url(images/mobile-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-wrapper,
form,
.logo-container {
    max-width: 535px;
    padding: 0 2.4rem;
}

.text-wrapper {
    margin-top: 5.7em;
}

.text-wrapper p {
    margin-top: 1.6rem;
}

.container {
    background-color: var(--navy-bg);
    opacity: .9;
    padding-top: 6.2rem;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    min-width: 240px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-block-flex {
    display: flex;
    flex-direction: column;
}

form {
    order: 4;
}


/* ============================
            MEDIA QUERIES
=============================== */

/******* TABLET *******/
@media (min-width: 768px) {

    h1 {
        font-size: 4.8rem;
        line-height: 5.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .text-wrapper,
    form,
    .logo-container {
        min-width: 635px;
        padding: 0;
    }

    body {
        background-image: url(images/tablet-bg-image.jpg);
        background-color: var(--navy-bg);
        background-size: auto;
        background-position: top right;
    }

    .container-flex {
        align-items: flex-start;
        justify-content: space-between;
        gap: 152px;
    }

    .container {
        background: none;
        opacity: 100%;
        text-align: left;
        padding: 5rem 0 0 3.9rem;
    }

    .bg-block {
        background-color: var(--navy-bg);
    }

    .logo-container {
        order: 4;
        margin-top: 2rem;
    }

    .text-wrapper p {
        margin-top: 3.1rem;
        width: 445px;
    }

    form {
        margin-top: 4rem;
    }

    .email-input,
    .request-btn {
        display: inline;
        max-width: 445px;
    }

    .email-input {
        padding: 1.4em 3.2rem;
    }

    .request-btn {
        width: 16.2rem;
        position: relative;
        right: 27%;
    }

    .request-btn:hover,
    .request-btn:focus {
        background-color: var(--light-green);
    }

    .logo-container {
        justify-content: left;
    }

    .podcast-logo {
        padding: 0;
        margin: 0;
        width: auto;
        margin-right: 4rem;
    }

    .dotted-background {
        display: block;
        width: auto;
    }
}


/******* DESKTOP *******/
@media (min-width: 1124px) {

    h1 {
        font-size: 5.2rem;
        line-height: 6.2rem;
    }

    body {
        background-image: url(images/desktop-bg-image.jpg);
        background-size: auto;
        background-position: 0;
        background-position: right 130px;
    }

    .container {
        padding: 10.2rem 0 13rem 16.5rem;
    }

    .container-flex {
        gap: 0;
    }

    .bg-block {
        margin-top: 10.3rem;
        padding-right: 5.8rem;
    }

    .text-wrapper {
        max-width: 665px;
    }

    .email-input,
    .request-btn {
        max-width: 427px;
    }

    form {
        margin-left: 0;
    }

    .dotted-background {
        position: relative;
        width: 100%;
        bottom: 15%;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .dotted-background img {
        width: auto;
    }
}
