* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************** CUSTOM VARIABLES ***************************/
:root {
    /* Colors styles */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --nude2: hsla(0, 74%, 74%, 1);
    --bg-gradient: linear-gradient(221.42deg, #FFF1F1 2.6%, #FFFFFF 96.36%);
    --btn-gradient: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    /* Font styles */
    --h1-ff: normal 300 64px/64px 'Josefin Sans', Sans-Serif;
    --h1-span-ff: normal 600 64px/71px 'Josefin Sans', Sans-Serif;
    --p-ff: normal 400 16px/28px 'Josefin Sans', Sans-Serif;
    --error-ff: normal 400 13px/28px 'Josefin Sans', Sans-Serif;
    /* Shadow styles */
    --btn-shadow: 0px 15px 20px 0px hsla(0, 43%, 60%, 0.25);
}

body {
    background: var(--bg-gradient);
    display: flex;
    width: 100vw;
}


/************************** FONTS ***************************/
h1 {
    font: var(--h1-ff);
    color: var(--desaturated-red);
    letter-spacing: 17.32px;
    margin-bottom: 32px;
}

.emphasis-text {
    font: var(--h1-span-ff);
    letter-spacing: 17.32px;
    color: var(--dark-grayish-red);
}

.body-text {
    font: var(--p-ff);
    color: var(--desaturated-red);
    margin-bottom: 40px;
}

input::placeholder {
    color: var(--desaturated-red);
    font: var(--p-ff);
    opacity: 50%;
}

#error-text {
    font: var(--error-ff);
    color: var(--soft-red);
    margin-left: 32px;
}


/************************** LEFT COLUMN **************************/
.left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25%;
    background: url('images/top-left-bg.svg') no-repeat top right 100%, url('images/bottom-right-bg.svg') no-repeat bottom right;
    height: 100vh;
    width: 100vw;
}

.contentWrapper {
    padding-bottom: 165px;
    width: 445px;
}


/************************** FORM **************************/
form {
    display: flex;
    flex-direction: row;
}

.input-field {
    border: solid 1px rgba(206, 152, 152, 0.5);
    border-radius: 28px;
    width: 445px;
    height: 56px;
    background-color: transparent;
    padding-left: 32px;

}

input[type=email] {
    font: var(--p-ff);
    color: var(--dark-grayish-red);
}

#submitBtn {
    width: 100px;
    border-radius: 28px;
    cursor: pointer;
    border: none;
    background: var(--btn-gradient);
    margin-left: -100px;
    box-shadow: var(--btn-shadow);
}

#submitBtn:hover {
    opacity: 70%;
}

#submitBtn:active {
    background: rgb(203, 127, 127);
}


/*************************** ERROR STATE ***************************/
/* red border + error icon + red text*/
.email-error {
    background: url('images/icon-error.svg') no-repeat;
    background-position: 75%;
    border: solid 2px var(--soft-red);
}

.placeholder-error {
color: var(--soft-red);
}


/*************************** RIGHT COLUMN - HERO IMAGE ***************************/
.hero-img {
    height: 100vh;
}

.hero-img img {
    height: 100%;
}