* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors styles */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish: hsl(0, 6%, 24%);
    --nude2: hsla(0, 74%, 74%, 1);
    /* Set gradients using "background: " property */
    --bg-gradient: linear-gradient(221.42deg, #FFF1F1 2.6%, #FFFFFF 96.36%);
    --btn-gradient: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    /* Font styles */
    --h1-ff: normal 300 64px/64px 'Josefin Sans', Sans-Serif;
    --h1-span-ff: normal 600 64px/71px 'Josefin Sans', Sans-Serif;
    --p-ff: normal 400 16px/28px 'Josefin Sans', Sans-Serif;
    --error-ff: normal 400 13px/28px 'Josefin Sans', Sans-Serif;
    /* Shadow styles */
    --btn-shadow: 0px 15px 20px 0px hsla(0, 43%, 60%, 0.25);
}
/* FONTS */
h1 {
    font: var(--h1-ff);
    color: var(--desaturated-red);
    letter-spacing: 17.32px;
}
.emphasis-text {
    font: var(--h1-span-ff);
    letter-spacing: 17.32px;
    color: var(--dark-grayish);
}
.body-text {
    font: var(--p-ff);
    color: var(--desaturated-red);
}
input::placeholder {
    color: var(--desaturated-red);
font: var(--p-ff);
}
#error-text {
    font: var(--error-ff);
    color: var(--soft-red);
}

body {
    /* change after sorting out background images */
    background: antiquewhite;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    /* width: 100vw; */
    /* gap:220px; */
}

.left-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('images/top-left-bg.svg') no-repeat top right 100%, url('images/bottom-right-bg.svg') no-repeat bottom right;
    height: 100vh;
}


