*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --white: #EEEEEE;
    --navy: #1B244A;
    --light-blue: #9AABD8;
    --red: #F94F6D;
    --black: #080001;
    /**** font ****/
    --h1-ff: normal 700 4rem/3.5rem 'Verdana';
    --score-ff: normal 9rem/12.6rem 'Cursed Timer ULiL', sans-serif;
    --btn-ff: normal 1.8rem/2.7rem 'Cursed Timer ULiL', sans-serif;
}


/* ============================

            TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-ff);
    color: var(--white);
}

.score {
    font: var(--score-ff);
    color: var(--red);
}

button {
    font: var(--btn-ff);
    color: var(--light-blue);
}



/* ============================

            BUTTONS

=============================== */

button {
    background-color: transparent;
    border: solid 2px var(--light-blue);
    border-radius: .5rem;
    padding: .8rem;
}



/* ============================

            LAYOUT

=============================== */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    background-color: var(--navy);
    
}

.score-container {
    background-color: var(--black);
    text-align: center;
    border-radius: .5rem;
}